<a href="https://colab.research.google.com/github/bhuvighosh3/ML-Compute/blob/main/Bagging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score

In [ ]:
df=pd.read_csv('/content/churndata_processed.csv')

In [ ]:
df.head()

,months,multiple,gb_mon,security,backup,protection,support,unlimited,contract,paperless,...,payment_Credit Card,payment_Mailed Check,internet_type_DSL,internet_type_Fiber Optic,internet_type_None,offer_Offer A,offer_Offer B,offer_Offer C,offer_Offer D,offer_Offer E
0,0.00,0,0.094118,0,0,1,0,0,0.0,1,...,0,0,1,0,0,0,0,0,0,0
1,0.00,1,0.200000,0,1,0,0,1,0.0,1,...,1,0,0,1,0,0,0,0,0,1
2,0.25,1,0.611765,0,0,0,0,1,0.0,1,...,0,0,0,1,0,0,0,0,1,0
3,0.25,0,0.141176,0,1,1,0,1,0.0,1,...,0,0,0,1,0,0,0,1,0,0
4,0.50,1,0.164706,0,0,0,0,1,0.0,1,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   months                     7043 non-null   float64
 1   multiple                   7043 non-null   int64
 2   gb_mon                     7043 non-null   float64
 3   security                   7043 non-null   int64
 4   backup                     7043 non-null   int64
 5   protection                 7043 non-null   int64
 6   support                    7043 non-null   int64
 7   unlimited                  7043 non-null   int64
 8   contract                   7043 non-null   float64
 9   paperless                  7043 non-null   int64
 10  monthly                    7043 non-null   float64
 11  satisfaction               7043 non-null   float64
 12  churn_value                7043 non-null   int64
 13  payment_Credit Card        7043 non-null   int64
 14  payment_Mailed Check       7043 non-null   int64
 15  internet_type_DSL          7043 non-null   int64
 16  internet_type_Fiber Optic  7043 non-null   int64
 17  internet_type_None         7043 non-null   int64
 18  offer_Offer A              7043 non-null   int64
 19  offer_Offer B              7043 non-null   int64
 20  offer_Offer C              7043 non-null   int64
 21  offer_Offer D              7043 non-null   int64
 22  offer_Offer E              7043 non-null   int64
dtypes: float64(5), int64(18)
memory usage: 1.2 MB

In [ ]:
df['churn_value'].value_counts()

0    5174
1    1869
Name: churn_value, dtype: int64

## Imbalanced dataset: Resample the given dataset

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.utils import resample

In [ ]:
dfmajority=df[df['churn_value']==0]
dfminority=df[df['churn_value']==1]
dfsampled=resample(dfminority,replace=True,n_samples=5174,random_state=50)

In [ ]:
df1=pd.concat([dfsampled,dfmajority])

In [ ]:
df1['churn_value'].value_counts()

1    5174
0    5174
Name: churn_value, dtype: int64

In [ ]:
y=df1.loc[:,'churn_value'].values
x=df1.drop(['churn_value'],axis=1).values

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=50)

In [ ]:
d={}

In [ ]:
estimator_range=np.arange(5,150,1)
model = []
score = []
for n_estimators in estimator_range:


    clf = BaggingClassifier(base_estimator=DecisionTreeClassifier(),n_estimators = n_estimators, random_state = 22)


    clf.fit(x_train, y_train)

    # Append the model and score to their respective list
    model.append(clf)
    score.append(accuracy_score(y_true = y_test, y_pred = clf.predict(x_test)))

### Test accuracy:

In [ ]:
max(score)

0.9701317715959005

### Train accuracy:

In [ ]:
y_pred=clf.predict(x_train)

In [ ]:
accuracy_score(y_train,y_pred)

0.999423049185057

Yayy the model fits perfectly.